* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 32px 64px 16px 64px;
  background-color: #120b18;
  font-family: "Teko", sans-serif;
}

header {
  width: 100%;
  height: 67px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.promocao {
  color: #fff;
  text-decoration: none;
}
.idioma {
  color: #fff;
  width: 130px;
  text-align: right;
}

main {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.conteudo-container {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.conteudo-titulo {
  width: 320px;
  color: #fff;
}
.conteudo-titulo h1 {
  font-size: 100px;
  font-weight: 700;
  line-height: 80px;
}
.conteudo-titulo strong {
  font-size: 100px;
  font-weight: 700;
  color: #613e8a;
}
.conteudo-titulo p {
  font-size: 32px;
  font-weight: 100;
  font-style: normal;
  line-height: 38px;
}

.conteudo-tipo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 320px;
  color: #fff;
}
.conteudo-tipo p {
  width: 72px;
  text-align: center;
}
.conteudo-tipo img {
  margin-right: 2%;
}

.navegacao-container {
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 48px;
  line-height: 30px;
  width: 650px;
  align-self: center;
  color: #fff;
}
.navegacao-container .barra {
  height: 2px;
  width: 80%;
  background-color: #fff;
}
.navegacao-container .selecionado {
  height: 3px;
  width: 30%;
  background-color: #613e8a;
  margin-left: auto;
  margin-right: auto;
}
.navegacao-container a {
  text-decoration: none;
  color: #fff;
}

footer {
  width: 100%;
  height: 18px;
  text-align: center;
  font-size: 12px;
  color: #fff;
}

.background {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  inset: 0;
  margin: auto;
  z-index: -999;
  opacity: 0.05;
}

@media (max-width: 768px) {
  body {
    padding: 16px;
  }

  .promocao {
    display: none;
  }

  .conteudo-tipo {
    display: none;
  }

  .conteudo-titulo {
    width: 150px;
  }

  .conteudo-titulo h1 {
    font-size: 48px;
    line-height: 48px;
  }

  .conteudo-titulo strong {
    font-size: 48px;
    line-height: 48px;
  }

  .conteudo-titulo p {
    margin-top: 16px;
    font-size: 20px;
    line-height: 20px;
  }

  .navegacao-container {
    width: 80%;
  }
}
